COMMS_HUB_ENABLED=1
COMMS_HUB_DRY_RUN=1
COMMS_HUB_OUTBOX_DRAIN_ENABLED=0
COMMS_HUB_TG_ENABLED=0
COMMS_HUB_TG_POLL_ENABLED=0
COMMS_HUB_TG_SEND_ENABLED=0
COMMS_HUB_OBSIDIAN_ENABLED=0
COMMS_HUB_VOICE_ENABLED=0
COMMS_HUB_VOICE_REPLY_ENABLED=0
COMMS_HUB_BUILDER_BRIDGE_ENABLED=0
COMMS_HUB_BROADCAST_ENABLED=0
COMMS_HUB_STALE_AFTER_SECONDS=1382400
COMMS_HUB_TG_ALLOWED_CHAT_IDS=
COMMS_HUB_OBSIDIAN_VAULT=
TELEGRAM_BOT_TOKEN=

